@model ASM2.Models.ChangePasswordViewModel
@{
	ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
@using (Html.BeginForm("ChangePassWord", "Admin", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
	<div class="form-group">
		@Html.AntiForgeryToken()
		@Html.LabelFor(m => m.NewPassword)
		@Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
	</div>
	<button type="submit" class="btn btn-primary">Change</button>
}
